<div class="text-center">
  <h1>Hi {{ currentUser.email }}!</h1>
  <p>You're logged in with Angular 7!!</p>
</div>
<h3>All registered users:</h3>
<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Mobile No.</th>
      <th>Room No.</th>
      <th>Date of Birth</th>
      <th>Coming From</th>
      <th>Notes</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.mobileno }}</td>
      <td>{{ user.roomno }}</td>
      <td>{{ user.dob }}</td>
      <td>{{ user.cities }}</td>
      <td>{{ user.notes }}</td>
      <td>
        <a (click)="deleteUser(user.id)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
